@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card-container {
    font-family: 'Poppins', sans-serif;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    background-color: white;
    border-radius: 10px;

    width: 35rem;
    margin: 0 2rem;
}

.card:hover {
    transition: all 1.5s cubic-bezier(0,0,.5,1);
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%), 2px 4px 12px rgb(0 0 0 / 8%);
}

.card img {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    /* margin: 1rem; */
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(134, 133, 133);
}

.card-body {
    padding: 0 1rem;
}

.card-body h1 {
    margin: 1rem 0;
}
.read-more-text {
    display: block;
    transition: all 0.5s;
    opacity: 0;
    height: 0;
}

.read-more-text-open {
    display: block;
    opacity: 1;
    height: 7rem;
  }


.read-more-button{
  color: #ff136f;
  border-radius: 2rem;
  font-size: 1em;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: .5rem;
  margin-bottom: .5rem;
}


.red-more-button:hover{
    color: #ff136f;
    transform: translateY(-3px);
  }